
.contentCats {
  margin-top: 80px;
  float: right;
  padding: 0 0 50px 0;
  width: 75%;
  .cats {
    padding: 10px 50px;
  }
  h2 {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    margin: 50px 0 10px 50px
  }
  h3 {
    width: 150px;
    display: inline-block;
    font-weight: 100;
    font-size: 14px;
  }
  .btn {
    padding: 5px 15px;
    border: 0.5px solid #d1d1d1;
    display: inline-block;
    box-shadow: 2px 2px #888888;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
    margin-left: 20px;
  }
  p {
    font-size: 12px;
    font-weight: 100;
    color: #850000;
    margin: 0 0 20px 50px
  }
  input {
    padding: 5px 10px;
    width: 150px;
    background: #f7f7f7;
    margin: 10px 0 0 50px;
  }
  input::placeholder {
    color: #b6b6b6;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;

  }
}

